@import "../../../Styles/StyleSheets/breakpoints.less";
@large-property-height: 220px;
@default-property-gallery-height: 200px;

.property-card {
	overflow: hidden;
	position: relative;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

	.ant-card-cover {
		position: relative;
		background-color: transparent;
		transform: none;
		overflow: hidden;

		.property-card-top {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			box-sizing: border-box;
			z-index: 1;
			border-radius: 0;
			flex-wrap: nowrap;
		}

		img {
			border-radius: 0px;
		}
	}

	.ant-card-body {
		position: relative;
	}

	&.property-card-large {
		display: flex;
		height: @large-property-height;

		@media @screen-sm {
			flex-wrap: wrap;
			height: auto;
		}

		.ant-card-cover {
			flex: 0 0 35%;
			max-width: 35%;

			@media screen and (max-width: @breakpoint-xl) and (min-width: @breakpoint-lg),
				(max-width: @breakpoint-md) {
				flex: 0 0 50%;
				max-width: 50%;
			}

			@media @screen-sm {
				flex: 0 0 100%;
				max-width: 100%;
				height: @large-property-height;
			}
		}

		.ant-card-body {
			flex-basis: 65%;
			max-width: 65%;

			@media screen and (max-width: @breakpoint-xl) and (min-width: @breakpoint-lg),
				(max-width: @breakpoint-md) {
				flex: 0 0 50%;
				max-width: 50%;
			}

			@media @screen-sm {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}

	&.property-card-default {
		.ant-card-cover {
			height: @default-property-gallery-height;
		}
	}
}
