@import "../../../Styles/StyleSheets/breakpoints.less";

.home-filters {
	width: 100%;

	.big-input {
		height: 60px;

		.keyword-location-skeleton {
			width: 100%;
			height: 100%;

			.ant-skeleton-input {
				width: 100%;
				height: 100%;
			}
		}

		@media @screen-lg {
			height: 62px;
		}

		.ant-row {
			height: 100%;
		}

		.filter {
			height: 100%;

			@media @screen-lg {
				.ant-select-clear {
					opacity: 1;
				}
			}
		}

		.search-button-container {
			flex: 0 0 62px;

			.search-button-skeleton {
				height: 100%;
				width: 100%;

				.ant-skeleton-button {
					height: 100%;
					width: 100
				}
			}

			@media @screen-lg {
				flex: 0 0 52px;
			}

			.search-button {
				height: 100%;
				width: 100%;

				@media @screen-lg {
					height: 100%;
					width: 100%;
				}
			}
		}

		@media @screen-lg {
			&.temporal-filter-container {
				margin-bottom: 24px;
			}
		}

		.ant-select-multiple .ant-select-selection-placeholder {
			padding-right: 15px;
		}
	}
}
