@import "../../../../Styles/StyleSheets/breakpoints.less";

.banner_seoheader {
	align-items: flex-end;
	justify-content: center;
	height: 100%;
	background-size: cover;
	background-position: center;
	flex: 0 0 200px;
	display: flex;
	min-width: 200px;
	width: 200px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		flex: 0 0 200px;
		display: flex;
		min-width: 200px;
		width: 200px;
		background: rgba(0, 0, 0, 0.2);

		@media @screen-lg {
			display: none;
		}
	}

	@media @screen-lg {
		width: 100%;
	}



	@media @screen-xl {
		flex: 0 0 200px;
		height: auto;
		background-image: none;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;

		.banner-image {
			width: 100%;
			background-size: cover;
			background-position: center;
			height: 0px;
			padding-bottom: 100%;
		}

		.ant-typography {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.row-container {
		box-sizing: border-box;
		align-items: center;
		text-align: center;
		height: 150px;
		width: 100%;

		@media @screen-lg {
			align-items: center;
			text-align: left;
		}

		.ant-tag {
			background: transparent;
			text-transform: uppercase;
			border-radius: 100px;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
}
