@import "../../../Styles/StyleSheets/breakpoints.less";

.pd-main-content {
	.property-title {
		font-weight: bold;
		margin-bottom: 0;
	}
}

.pd_affix_top {
	.property-title {
		margin-bottom: 0;
	}
}

.title-skeleton {
	.ant-skeleton-title {
		margin-top: 6px;
	}
}
