.pic-home-footer {
	display: flex;
	flex-direction: row;
	max-width: 750px;
	height: 200px;
	margin: 0px auto;
	overflow: hidden;
	position: relative;

	.pic-home-footer-image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		vertical-align: bottom;
		object-position: center 5px;
	}
}
