@import "../../../Styles/StyleSheets/breakpoints.less";

.brand-info {
	text-align: center;

	.ant-row-center {
		.brand-info-image {
			width: 150px;
			margin: 0 auto;

			@media @screen-sm {
				width: 200px;
			}
		}
	}

	.ant-carousel {
		.slick-dots-bottom {
			bottom: -30px;

			li.slick-active {
				height: 15px;
				width: 15px;

				button {
					height: 100%;
				}
			}

			li {
				height: 12px;
				width: 12px;
				margin-right: 10px;
				margin-left: 10px;

				button:focus {
					opacity: 1
				}

				button {
					height: 100%;
					opacity: 1;
				}
			}
		}
	}
}
