.search-results-pagination {
	.ant-pagination-item,
	.ant-pagination-prev,
	.ant-pagination-next {
		min-width: 32px;
		height: 32px;
		line-height: 30px;
		font-size: 16px;
		font-weight: bold;
		border-color: transparent;
		background: #f0f0f0;
		transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s,
			background-color 0.1s ease 0s, color 0.1s ease 0s;
	}

	.ant-pagination-item-active {
		border-color: #fc7b27;
		background-color: #ffffff;
		box-shadow: rgba(134, 144, 153, 0.18) 0px 8px 16px 0px,
			rgba(59, 65, 68, 0.05) 0px 2px 4px 0px;
	}

	.ant-pagination-next .ant-pagination-item-link {
		background-color: #fc7b27;
		border-color: transparent;
		color: #ffffff;
	}

	.ant-pagination-next .ant-pagination-item-link:hover {
		background-color: #ffffff;
		border-color: #fc7b27;
		color: #fc7b27;
	}

	.ant-pagination-prev.ant-pagination-disabled {
		display: none;
	}

	.ant-pagination-item a {
		color: #fc7b27;
	}

	.ant-pagination-item:hover {
		background-color: #dcdcdc;
	}

	.ant-pagination-item-active:hover {
		background-color: #efefef;
	}
}
