.subsidiary {
	.ant-row {
		flex-wrap: nowrap;

		.left {
			min-height: 70px;
		}

		.title {
			display: inline-block;
		}

		.paragraph {
			margin-bottom: 0;
		}

		.hours {
			font-size: 12px;
			line-height: 12px;
		}

		.masked {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0),
					rgba(255, 255, 255, 0.85),
					white
				);
			}
		}
	}
}
