@import "../../../Styles/StyleSheets/breakpoints.less";

.auth-modal {
	max-width: 600px;
	padding-bottom: 0;

	@media @screen-md {
		border-radius: 0px;
		max-height: 100%;
		max-width: 100%;
		margin: 0px;
		height: 100%;
	}
}

.ant-modal-mask {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);
}
