.availability-calendar {
	.availability-calendar {
		.header {
			text-align: center;
			position: relative;

			.ant-btn {
				position: absolute;
				top: 0;

				&.left {
					left: 0;
				}

				&.right {
					right: 0;
				}
			}
		}

		.ant-picker-content th {
			line-height: 24px;
		}

		.ant-picker-cell {
			&:not(.ant-picker-cell-in-view) {
				pointer-events: none;
			}

			.calendar-cell {
				margin: 0 auto;
				border-radius: 10px;
			}
		}
	}
}
