@import "../../../Styles/StyleSheets/breakpoints.less";

.home-filters {
	.operation-type-filter {
		.operation-type-skeleton {
			width: 100%;
			height: 100%;

			.ant-skeleton-button {
				width: 100%;
				height: 100%;
			}
		}

		.ant-radio-group {
			width: 100%;
			display: flex;
			height: 40px;

			.ant-radio-button-wrapper {
				flex: 1;
				height: 100%;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				transition: all ease 200ms;

				&:not(.ant-radio-button-wrapper-checked) {
					background: transparent;
					border-color: transparent;
				}

				&:not(:first-child)::before {
					height: 50%;
					top: 25%;
					opacity: 40%;
				}
			}

			.ant-radio-button-wrapper-checked {
				&:first-child {
					border-color: transparent;
				}
			}

			&:hover {
				.ant-radio-button-wrapper-checked {
					&:not(:hover) {
						font-weight: normal;
						background: transparent;
						border-color: transparent;
					}
				}
			}
		}
	}
}

@media @screen-lg {
	.home-filters {
		.operation-type-filter {
			height: 50px;

			.ant-select {
				height: 100%;

				.ant-select-selector {
					height: 100%;
					border: none;

					.ant-select-selection-item,
					.ant-select-selection-placeholder {
						line-height: 50px;
					}
				}
			}
		}
	}
}
