@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(Poppins-Black.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
