@BBVAcolor: #2371be;
@BBVAhover: #185694;
@BBVABackgroundColor: #0080ff;

.property-financing-BBVA {
	position: relative;
	.property-financing-box {
		padding-top: 70px;
	}
	.bbva-logo {
		width: 100%;
		height: 56px;
		background-color: @BBVAcolor;
		box-sizing: border-box;
		padding: 12px 16px;
		border-radius: 8px 8px 0 0;
		position: absolute;
		top: 6px;
		right: 1px;
		z-index: 2;
		display: flex;
		align-items: center;

		img {
			height: 100%;
			object-fit: contain;
			object-position: left;
			margin-right: 8px;
		}
		span {
			max-width: 120px;
			font-size: 13px;
			line-height: 14px;
			color: white;
		}
	}

	.ant-typography {
		margin-bottom: 5px;
	}

	.financing-error {
		background-color: #ffe78b;
		padding: 12px 12px 8px;
		border-radius: 8px;
		font-size: 0.85em;
		text-align: left;

		.financing-error-fix {
			text-decoration: underline;
			color: @BBVAcolor;
			cursor: pointer;
		}
	}
}

.property-financing-monthly {
	text-align: center;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	h1 {
		text-align: center;
		margin: 5px;
		font-size: 1.75em;
		margin-top: 5px !important;
	}

	.financing-price {
		font-size: 3em;
		color: @BBVAcolor;
	}

	.bbva-financing-button {
		background-color: @BBVAcolor;
		color: #fff;
		margin: 10px;
		border: none;
		&:hover {
			background-color: @BBVAhover;
		}
	}
}
