@import "../../../../Styles/StyleSheets/breakpoints.less";

.item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 100%;

	@media @screen-md {
		box-shadow: rgba(0, 0, 0, 0.4) 0px 38px 20px -32px;
	}

	.ant-skeleton-image,
	.ant-skeleton-element {
		width: 100%;
		height: 100%;

	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: none;
		transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover img {
		transform: scale(1.08);
	}

	.overLay {
		bottom: 0px;
		right: 0px;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		z-index: 0;
	}

	.operation-text {
		position: absolute;
		top: 0px;
		left: 0px;
		font-weight: bold;
	}

	.text {
		position: absolute;
		top: 34px;
		left: 0px;
		font-weight: normal;
	}

	.more {
		position: absolute;
		text-align: left;
		bottom: 10px;
		width: 100%;
		left: 0px;
		font-weight: 500;
	}
}
