.footer {
	padding-bottom: 0;

	.ant-row {
		margin-bottom: 0 !important;
	}

	.ant-btn-text {

		&:hover,
		&:focus {
			opacity: 0.8;
			background: transparent;
			border-color: transparent;
		}
	}
}

.property-detail {
	.footer {
		padding: 0;
	}
}
