.more-similars {
	height: 160px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	.ant-card-body {
		height: 100%;
		.more-similars-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			height: 100%;
			.ant-btn {
				width: 100%;
			}
		}
	}
}
