@import "../../../Styles/StyleSheets/breakpoints.less";

.property-typology-tag-desktop {
	display: inline-flex;

	@media @screen-lg {
		display: none;

	}
}

.property-typology-tag-mobile {
	display: none;

	.ant-space-item {
		margin: 0 !important;

		.ant-skeleton {
			.ant-skeleton-button {
				width: 100%;
				height: 20px;
			}
		}
	}

	@media @screen-lg {
		display: block;
	}
}

.pd-main-content {
	.property-typology-tag {
		&.show-icons {
			width: 100%;
			margin-top: 16px;


			@media @screen-lg {
				flex-direction: column;
				margin-top: 0;


				.ant-space-item {
					width: 100%;
					text-align: left;
				}
			}
		}
	}
}
