@import "../../../Styles/StyleSheets/breakpoints.less";

.property-local-information-map {
	.address {
		text-align: right;
	}

	.map-col {
		overflow: hidden;
		position: relative;

		.map-container {
			height: 280px;

			@media @screen-lg {
				height: 230px;
			}
		}
	}
}
