@import "../../Styles/StyleSheets/breakpoints.less";

.search-page {
	flex: 1;

	@media @screen-lg {
		&.container {
			width: calc(100% - 8px);
		}
	}
	.ant-layout-sider {
		background: transparent;
		transition: none;

		&.fixed-sider {
			padding: 0;
			&.ant-layout-sider-collapsed {
				opacity: 0;
			}
			.sider-container-fullscreen {
				overflow-y: scroll;
				overflow-x: hidden;
			}
			.closed-sider-top-fixed {
				position: fixed;
				left: 0px;
				z-index: 1;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.ant-btn-icon-only.ant-btn-lg {
					height: 40px;
				}

				.anticon-close-circle {
					font-size: 24px;
				}
			}

			.closed-sider-footer-fixed {
				position: fixed;
				left: 0;
				bottom: 0px;
				width: 100%;
				z-index: 1;
			}
		}

		// Sider (Area donde estan los Filtros)
		.sider-content {
			overflow: hidden;
			position: relative;
			margin-top: 0px !important;
			margin-bottom: 0px !important;

			.container-sider {
				width: 100%;
			}
		}

		&.fixed-sider {
			position: fixed;
			left: 0;
			overflow-y: auto;
			z-index: 17;

			.sider-content {
				border: none;
				border-radius: 0px;
			}
		}

		.ant-divider {
			margin: 16px 0;
		}
	}

	.ant-layout-content {
		overflow: hidden;
		position: relative;

		.search-results-affix-bar {
			width: 100%;
			position: fixed;
			left: 0px;
			z-index: 16;
		}

		.search-result-text-info {
			h1 {
				margin-bottom: 0px;
			}

			.ant-breadcrumb,
			.search-result-display {
				line-height: 1.25em;
			}
		}

		.map-content {
			overflow: hidden;
			position: relative;
			width: 100%;

			@media @screen-lg {
				position: fixed;
				width: 100%;
				bottom: 0px;
				left: 0;
				border-radius: 0;
			}
		}

		.footer {
			padding: 16px 0;
		}
	}
}
