@import "../../../../../Styles/StyleSheets/breakpoints.less";

.form-modal {
	@media @screen-lg {
		width: 100vw !important;
		max-width: 100vw !important;
		padding: 0%;
		margin: 0 !important;
		top: 0;
		.ant-modal-content {
			border-radius: 0;
			.ant-modal-body {
				min-height: max-content;
				display: flex;
				flex-direction: column;
				padding: 0;
			}
		}
	}
	.modal-form-content {
		overflow-y: auto;
		overflow-x: hidden;
		@media screen and (min-width: @breakpoint-lg) {
			height: auto !important;
		}
	}
}
