@import "../../../Styles/StyleSheets/breakpoints.less";
.workprogress {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		height: 100%;
		background: linear-gradient(to left, white, rgba(255, 255, 255, 0.75), transparent);
		z-index: 1;
	}
	.slick-slide {
		max-width: 300px;
		width: 100%;

		img {
			border-radius: 8px;
		}

		@media @screen-lg {
			max-width: 290px;
		}
	}
}
