.recommended {
	.title {
		font-weight: 500;
		margin-bottom: 0;
	}
}

.ant-skeleton.image-new-small-skeleton {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;

	.image-new-small-skeleton {
		width: calc(100% - 40px);
		height: calc(100% - 50px);
	}
}

.ant-skeleton.image-new-large-skeleton {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;

	.image-new-large-skeleton {
		width: 100%;
		height: 300px;
	}
}
