@import "../../../Styles/StyleSheets/breakpoints.less";

.ant-carousel {
	.magic-dots.slick-dots {
		position: absolute !important;
		margin: 5px auto !important;
		justify-content: normal;
		height: 15px;
		align-items: center;
		z-index: 9;

		ul {
			padding: 0;
			display: flex;
			transition: all 0.2s;
			position: relative;
			margin: 0;
		}

		li {
			width: 10px;
			margin: 0 5px;
			height: 15px;
			align-items: center;
			display: inline-flex;
			justify-content: center;

			&.slick-active {
				width: 10px;

				button {
					width: 10px;
					height: 10px;
				}
			}

			button {
				width: 8px;
				height: 8px;
				opacity: 1;
				background: rgb(232, 233, 234);
				vertical-align: middle;
				box-shadow: 0px 1px 2px #6d6d6d;

				&:before {
					display: none;
				}
			}
		}

		li.small {
			button {
				height: 6px;
				width: 6px;
			}
		}
	}
}

.lazy-loader {
	position: relative;
	height: 100%;

	.carrouselArrow.right,
	.carrouselArrow.left {
		color: #3A4145 !important;
		background: #fff !important;
		width: 30px;
		height: 30px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s,
			opacity 0.3s ease-out;

		.icon-arrow {
			font-size: 16px;
		}

		@media @screen-sm {
			display: none;
		}
	}

	&:hover {

		.carrouselArrow.right,
		.carrouselArrow.left {
			visibility: visible;
			opacity: 0.75;
		}
	}


	.ant-carousel {
		height: 100%;

		.slick-slider,
		.slick-list,
		.slick-track,
		.slick-track * {
			height: 100%;
		}

		.slick-slide {
			text-align: center;
			overflow: hidden;
			position: relative;
			background: #eee;
			height: 100%;

			@media @screen-sm {
				-webkit-border-radius: 8px 8px 0 0;
				border-radius: 8px 8px 0 0;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 2;
		}

		.slick-dots {
			margin: 0;

			&.slick-dots-bottom {
				margin-bottom: 0px;
			}
		}
	}

	.gallery-image {
		width: 100%;
		height: 100%;
		display: flex !important;
		align-items: center;
		justify-content: center;
		text-align: center;

		img {
			transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		}

		&:hover img {
			transform: scale(1.08);
		}

		&.loader {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
		}
	}
}
