@import "../../../Styles/StyleSheets/breakpoints.less";
@contact-button-height: 56px;

.bigdata-property-table {
	.pd-table {
		margin-top: 16px;

		table {
			border: 1px solid #f5f5f5;
			border-bottom: none;

			.ant-table-title,
			.ant-table-footer,
			.ant-table-thead>tr>th,
			.ant-table-tbody>tr>td,
			tfoot>tr>th,
			tfoot>tr>td {
				padding: 8px 16px !important;
			}

			.ant-table-thead>tr>th {
				padding: 16px !important;

				.anticon {
					color: rgba(134, 144, 153, 0.25);
				}
			}

			.ant-table-tbody>tr>td {
				font-size: 14px;

				@media @screen-md {
					font-size: 16px;
				}
			}
		}

		.ant-descriptions {
			table {
				border: none;
			}
		}
	}

	.tableArrow {
		font-size: 35px;
		padding: 0px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		cursor: pointer;
		transition: all ease 200ms;
		width: 30px;
		height: 30px;

		.icon-arrow {
			text-shadow: none;
			position: relative;
			font-size: 12px;
		}
	}
}

.property-modal-container {
	.bigdata-property-table {
		padding: 8px;
		overflow: hidden;
		height: calc(100% - @contact-button-height);

		@media screen and (min-width: @breakpoint-lg) {
			padding: 16px;
			padding-right: 0;
			height: 100%;
		}

		.pd-table,
		.ant-spin-nested-loading,
		.ant-spin-container,
		.ant-table-container,
		.ant-table-content {
			height: 100%;
		}

		.ant-table {
			height: calc(100% - 40px);
		}

		.ant-table-body {
			height: calc(100% - 56px);
			overflow-y: auto !important;

			table {
				margin-top: -26px;
			}

			.ant-descriptions {
				table {
					margin-top: -8px;
				}
			}
		}

		.ant-table-pagination.ant-pagination {
			margin: 8px;
		}

		.pd-table {
			margin-top: 0px;
		}
	}
}

.expandable-table table {
	width: 100% !important;

	.ant-descriptions-item {
		padding-bottom: 0 !important;
	}

	.ant-descriptions-item-label {
		padding-top: 10px;
	}

	.ant-descriptions-view {
		border: none;
	}
}

.ant-table.ant-table-small .ant-table-expanded-row-fixed {
	margin: -16px -16px;
}
