@import "../../../Styles/StyleSheets/breakpoints.less";

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.destacadoHome {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;

	&:before {
		content: "";
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
		width: 100%;
		height: 75%;
		max-height: 430px;
		min-height: 200px;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}

	.background {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0;
		animation: FadeIn 1.5s ease 1s 1 forwards;
		transition: opacity 1000ms ease;
	}

	.background-container {
		position: absolute;
		z-index: 3;
		box-sizing: border-box;
		width: 300px;
		opacity: 0;
		animation: slideInFromLeft 1s ease 1s 1 forwards;

		@media @screen-lg {
			display: flex;
			align-items: center;
			height: 70px;
			justify-content: space-between;
			animation: slideInFromBottom 1s ease 1s 1 forwards;
		}

		a {
			display: block;
			margin: 0 auto;

			@media @screen-lg {
				display: flex;
				align-items: center;
				height: 100%;
				margin: 0;

				&:not(.more) {
					max-width: calc(100% - 70px);
				}
			}

			picture {
				max-width: 100%;
				display: block;
				margin: 0 auto;

				@media @screen-lg {
					height: 100%;
					max-width: 100%;
				}

				.logo {
					max-width: 100%;
					object-fit: contain;
					height: 65px;

					@media @screen-lg {
						height: 100%;
						object-fit: contain;
					}
				}
			}
		}

		&.small {
			a:not(.more) {
				display: flex;

				picture {
					.logo {
						max-width: 100%;
						object-position: left;
					}
				}
			}
		}

		.ant-btn {
			background: transparent;
			width: 100%;

			@media @screen-lg {
				width: 45px;
				min-width: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0px;
				margin-left: 8px;
			}

			.anticon {
				display: none;

				@media @screen-lg {
					display: inline-block;
				}
			}

			span {
				margin: 0;

				@media @screen-lg {
					display: none;
				}
			}
		}

		.ant-typography {
			margin-bottom: 8px;
			line-height: 1.2em;

			@media @screen-lg {
				margin-bottom: 0px;
				word-break: break-word;
			}
		}
	}
}
