@import "../../../Styles/StyleSheets/breakpoints.less";

.property-owner-logo {
	.ant-avatar-lg {
		border: 1px solid #ededed;
	}
}

.property-card {
	.property-owner-logo {
		position: absolute;
		z-index: 2;

		@media @screen-xs {
			top: -8px !important;
			background: white;
			border-radius: 50%;
			padding: 4px;

			.ant-avatar-lg {
				border: none
			}
		}


	}
}
