@import '../StyleSheets/index.less';
@import '~antd/dist/antd.less';

require('../JSthemes/InfoCasasTheme.js').colors;
require('../JSthemes/InfoCasasTheme.js').fontSizes;
require('../JSthemes/InfoCasasTheme.js').spacing;
require('../JSthemes/InfoCasasTheme.js');

* {
	font-family: @fontFamily;
}

// -------- Colors -----------

@primary-color: @primaryColor;
@normal-color: @textColor;
@link-color-black: #3b4144;
@success-color: @successColor;
@error-color: @errorColor;
@warning-color: @warningColor;

// Background color for `<body>`
@body-background: @backgroundColor;
// Base background color for most components
@component-background: @backgroundColor;
@text-color: @textColor;
@text-color-secondary: @textSecondaryColor;
@text-color-inverse: @textInverseColor;
@heading-color: @textColor;
// @text-color-dark: fade(@white, 85%);
// @text-color-secondary-dark: fade(@white, 65%);
@text-selection-bg: default;

::selection {
	color: inherit;
}

// --------- font-sizes ---------- 
@font-size-base: @baseFontSize;
@font-size-lg: @lgFontSize;
@font-size-sm: @smFontSize;
@line-height-base: @baseLineHeight;

h1.ant-typography,
.ant-typography h1 {
	font-size: @xlTitle;
	line-height: @xlLineHeight;

	@media screen and (max-width: 992px) {
		font-size: @lgTitle;
		line-height: @lgLineHeight;
	}
}

h2.ant-typography,
.ant-typography h2 {
	font-size: @lgTitle;
	line-height: @lgLineHeight;

	@media screen and (max-width: 992px) {
		font-size: @mdTitle;
		line-height: @mdLineHeight;
	}
}

h3.ant-typography,
.ant-typography h3 {
	font-size: @mdTitle;
	line-height: @mdLineHeight;

	@media screen and (max-width: 992px) {
		font-size: @smTitle;
		line-height: @smLineHeight;
	}
}

h4.ant-typography,
.ant-typography h4 {
	font-size: @smTitle;
	line-height: @smLineHeight;

	@media screen and (max-width: 992px) {
		font-size: @xsTitle;
		line-height: @xsLineHeight;
	}
}

// --------- end font-sizes ---------- 

// --------- end border-radius ---------- 
@border-radius-base: @smSpacing*1px;
@border-radius-sm: @xsSpacing*1px;
// --------- end border-radius ---------- 

// ---------- vertical spacing ---------- 
@padding-lg: @xlSpacing*1px; // containers
@padding-md: @lgSpacing *1px; // small containers and buttons
@padding-sm: @mdSpacing*1px; // Form controls and items
@padding-xs: @smSpacing*1px; // small items
@padding-xss: @xsSpacing*1px; // more small

// vertical padding for all form controls
@control-padding-horizontal: @padding-sm;
@control-padding-horizontal-sm: @padding-xs;

// vertical margins
@margin-lg: @xlSpacing*1px; // containers
@margin-md: @lgSpacing*1px; // small containers and buttons
@margin-sm: @mdSpacing*1px; // Form controls and items
@margin-xs: @smSpacing*1px; // small items
@margin-xss: @xsSpacing*1px; // more small
// ---------- vertical spacing ---------- 

// ----------  height rules ---------- 
// @height-base: 32px;
// @height-lg: 40px;
// @height-sm: 24px;
@height-base: 40px;
@height-lg: 48px;
@height-sm: 32px;
// ----------  height rules ---------- 


// ----------  link ---------- 
@link-color: @linkColor;
@link-hover-color: @linkHoverColor;
@link-active-color: @linkHoverColor;
@link-decoration: none;
@link-hover-decoration: none;
@link-focus-decoration: none;
@link-focus-outline: 0;
// ----------  link ---------- 

// Animation
// @ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
// @ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
// @ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
// @ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
// @ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
// @ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
// @ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
// @ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
// @ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
// @ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
// @ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
// @ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
// @ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
// @ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// // Border color
// @border-color-base: hsv(0, 0, 85%); // base border outline a component
// @border-color-split: hsv(0, 0, 94%); // split border inside a component
// @border-color-inverse: @white;
// @border-width-base: 1px; // width of the border for a component
// @border-style-base: solid; // style of a components border

// // Outline
// @outline-blur-size: 0;
// @outline-width: 2px;
// @outline-color:fade(@textColor, 80%);
// @outline-fade: 20%;

// @background-color-light: hsv(0, 0, 98%); // background of header and selected item
// @background-color-base: hsv(0, 0, 96%); // Default grey background color

// // Disabled states
// @disabled-color: fade(#000, 25%);
// @disabled-bg: @background-color-base;
// @disabled-color-dark: fade(#fff, 35%);

// Buttons
@btn-font-weight: bold;
@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;
@btn-border-radius-base: @smSpacing*1px;
@btn-border-radius-sm: @border-radius-base;

// nuestro secondary
@btn-default-ghost-color: #fff;
@btn-default-ghost-bg: @secondaryColor;
@btn-default-ghost-border: @secondaryColor;

.ant-btn.secondary {

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		color: @secondaryColor;
		border-color: @secondaryColor;
	}
}

.ant-btn.ant-btn-background-ghost {

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		color: @btn-default-ghost-color;
		background-color: @secondaryHoverColor  !important;
		border-color: @secondaryHoverColor;
	}
}

// nuestro secondary

// @btn-border-width: @border-width-base;
// @btn-border-style: @border-style-base;
// @btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
// @btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// @btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

// @btn-default-color: @text-color;
// @btn-default-bg: @component-background;
// @btn-default-border: @border-color-base;

// @btn-danger-color: #fff;
// @btn-danger-bg: @error-color;
// @btn-danger-border: @error-color;

// @btn-disable-color: @disabled-color;
// @btn-disable-bg: @disabled-bg;
// @btn-disable-border: @border-color-base;

// @btn-font-size-lg: @font-size-lg;
// @btn-font-size-sm: @font-size-base;
// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: @btn-padding-horizontal-base;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

// @btn-height-base: @height-base;
// @btn-height-lg: @height-lg;
// @btn-height-sm: @height-sm;

// @btn-circle-size: @btn-height-base;
// @btn-circle-size-lg: @btn-height-lg;
// @btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-group-border: @primary-5;

// @btn-link-hover-bg: transparent;
// @btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// Checkbox
// @checkbox-size: 16px;
@checkbox-color: @secondaryColor;

// @checkbox-check-color: #fff;
// @checkbox-check-bg: @checkbox-check-color;
// @checkbox-border-width: @border-width-base;
// @checkbox-group-item-margin-right: 8px;
.ant-checkbox-inner {
	border-radius: @border-radius-sm;
}

// Descriptions
// @descriptions-bg: #fafafa;
// @descriptions-title-margin-bottom: 20px;
// @descriptions-default-padding: @padding-md @padding-lg;
// @descriptions-middle-padding: @padding-sm @padding-lg;
// @descriptions-small-padding: @padding-xs @padding-md;
// @descriptions-item-padding-bottom: @padding-md;
// @descriptions-item-trailing-colon: true;
// @descriptions-item-label-colon-margin-right: 8px;
// @descriptions-item-label-colon-margin-left: 2px;

// Divider
@divider-text-padding: 1em;
@divider-orientation-margin: 5%;

// Dropdown
@dropdown-selected-color: @primary-color;
@dropdown-menu-submenu-disabled-bg: @component-background;

// Empty
// @empty-font-size: @font-size-base;

// Radio
// @radio-size: 16px;
// @radio-top: 0px;
@radio-dot-color: @secondaryColor; //
// @radio-dot-disabled-color: fade(@black, 20%);
// @radio-solid-checked-color: @component-background;

// Radio buttons
@radio-button-bg: @btn-default-bg;
@radio-button-checked-bg: @btn-default-bg;
@radio-button-color: @btn-default-color;
@radio-button-hover-color: @secondaryHoverColor; //
@radio-button-active-color: @secondaryHoverColor; //
// @radio-disabled-button-checked-bg: tint(@black, 90%);
// @radio-disabled-button-checked-color: @text-color-inverse;
// @radio-wrapper-margin-right: 8px;

// Layout
@layout-body-background: #FAFAFA; //
@layout-header-background: @backgroundColor; //
@layout-header-height: @headerHeight*1px; //
@layout-header-padding: 0 @lgSpacing*1px; //
// @layout-header-color: @text-color;
@layout-footer-padding: @lgSpacing*1px @lgSpacing*1px; //
@layout-footer-background: transparent;
// @layout-sider-background: @layout-header-background;
// @layout-trigger-height: 48px;
// @layout-trigger-background: #002140;
// @layout-trigger-color: #fff;
// @layout-zero-trigger-width: 36px;
// @layout-zero-trigger-height: 42px;
// Layout light theme
// @layout-sider-background-light: #fff;
// @layout-trigger-background-light: #fff;
// @layout-trigger-color-light: @text-color;

// z-index list, order by `z-index`
// @zindex-badge: auto;
// @zindex-table-fixed: auto;
// @zindex-affix: 10;
// @zindex-back-top: 10;
// @zindex-picker-panel: 10;
// @zindex-popup-close: 10;
// @zindex-modal: 1000;
// @zindex-modal-mask: 1000;
// @zindex-message: 1010;
// @zindex-notification: 1010;
// @zindex-popover: 1030;
// @zindex-dropdown: 1050;
// @zindex-picker: 1050;
// @zindex-popoconfirm: 1060;
// @zindex-tooltip: 1070;

// Animation
// @animation-duration-slow: 0.3s; // Modal
// @animation-duration-base: 0.2s;
// @animation-duration-fast: 0.1s; // Tooltip

//CollapsePanel
// @collapse-panel-border-radius: @border-radius-base;

//Dropdown
// @dropdown-menu-bg: @component-background;
// @dropdown-vertical-padding: 5px;
// @dropdown-edge-child-vertical-padding: 4px;
// @dropdown-font-size: @font-size-base;
// @dropdown-line-height: 22px;

// Form
// ---
@label-required-color: @textSecondaryColor;
@label-color: @textSecondaryColor;
// @form-warning-input-bg: @input-bg;
@form-item-margin-bottom: @mdSpacing*1px;

.ant-form-item-explain,
.ant-form-item-extra {
	font-size: 12px;
	padding: 8px 1px;
}

// @form-item-trailing-colon: true;
// @form-vertical-label-padding: 0 0 8px;
// @form-vertical-label-margin: 0;
// @form-item-label-font-size: @font-size-base;
// @form-item-label-height: @input-height-base;
// @form-item-label-colon-margin-right: 8px;
// @form-item-label-colon-margin-left: 2px;
// @form-error-input-bg: @input-bg;

// Input
// ---
// @input-height-base: @height-base;
// @input-height-lg: @height-lg;
// @input-height-sm: @height-sm;
// @input-padding-horizontal: @control-padding-horizontal - 1px;
// @input-padding-horizontal-base: @input-padding-horizontal;
// @input-padding-horizontal-sm: @control-padding-horizontal-sm - 1px;
// @input-padding-horizontal-lg: @input-padding-horizontal;
// @input-padding-vertical-base: max(
//   round((@input-height-base - @font-size-base * @line-height-base) / 2 * 10) / 10 -
//     @border-width-base,
//   3px
// );
// @input-padding-vertical-sm: max(
//   round((@input-height-sm - @font-size-base * @line-height-base) / 2 * 10) / 10 - @border-width-base,
//   0
// );
// @input-padding-vertical-lg: ceil((@input-height-lg - @font-size-lg * @line-height-base) / 2 * 10) /
//   10 - @border-width-base;
// @input-placeholder-color: hsv(0, 0, 75%);
// @input-color: @text-color;
// @input-icon-color: @input-color;
// @input-border-color: @border-color-base;
// @input-bg: @component-background;
// @input-number-hover-border-color: fade(@secondaryColor, 80%);
// @input-number-handler-active-bg: #f4f4f4;
// @input-number-handler-hover-bg: @secondaryColor;
// @input-number-handler-bg: @component-background;
// @input-number-handler-border-color: @border-color-base;
// @input-addon-bg: @background-color-light;
// @input-hover-border-color: fade(@secondaryColor, 80%);
// @input-disabled-bg: @disabled-bg;
// @input-outline-offset: 0 0;
// @input-icon-hover-color: fade(@black, 85%);
// @input-disabled-color: @disabled-color;
// .ant-input-number:focus,
// .ant-input:focus, 
// .ant-input-number-focused, 
// .ant-input-focused {
// 	border-color: @secondaryColor;
//     border-right-width: 1px !important;
//     outline: 0;
//     box-shadow: 0 0 0 2px rgba(0, 187, 175, 0.2);
// }

.ant-input.secondary {
	&:hover {
		border-color: @secondaryColor;
	}

	&:focus,
	.ant-input-focused.secondary {
		border-color: @secondaryColor;
		box-shadow: 0 0 0 2px @secondaryOpacityColor;
	}
}

.ant-input-number.secondary {
	&:hover {
		border-color: @secondaryColor;
	}

	&:focus {
		border-color: @secondaryColor;
		box-shadow: 0 0 0 2px @secondaryOpacityColor;
	}
}

.ant-input-number-focused.secondary {
	border-color: @secondaryColor;
	box-shadow: 0 0 0 2px @secondaryOpacityColor;
}

.ant-input-search-enter-button.secondary {
	input {

		&:hover,
		&:focus {
			border-color: @secondaryColor;
		}
	}

	.ant-input {

		&:focus,
		.ant-input-focused {
			border-color: @secondaryColor;
			box-shadow: 0 0 0 2px @secondaryOpacityColor;
		}
	}

	.ant-btn-primary {
		background: @secondaryColor;
		border-color: @secondaryColor;

		&:hover,
		&:focus,
		&:active {
			background: @secondaryHoverColor;
			border-color: @secondaryHoverColor;
		}
	}
}

// Mentions
// ---
// @mentions-dropdown-bg: @component-background;
// @mentions-dropdown-menu-item-hover-bg: @mentions-dropdown-bg;

// Select
// ---
// @select-border-color: @border-color-base;
// @select-item-selected-color: @text-color;
// @select-item-selected-font-weight: 600;
// @select-dropdown-bg: @component-background;
// @select-item-selected-bg: @primary-1;
// @select-item-active-bg: @item-hover-bg;
// @select-dropdown-vertical-padding: @dropdown-vertical-padding;
// @select-dropdown-font-size: @dropdown-font-size;
// @select-dropdown-line-height: @dropdown-line-height;
// @select-dropdown-height: 32px;
// @select-background: @component-background;
// @select-clear-background: @select-background;
// @select-selection-item-bg: @background-color-base;
// @select-selection-item-border-color: @border-color-split;
// @select-single-item-height-lg: 40px;
// @select-multiple-item-height: @input-height-base - @input-padding-vertical-base * 2; // Normal 24px
// @select-multiple-item-height-lg: 32px;
// @select-multiple-item-spacing-half: ceil(@input-padding-vertical-base / 2);

.ant-select.secondary {
	&:not(.ant-select-disabled) {
		&.ant-select-multiple {
			.ant-select-selection-search {
				&:first-child {
					.ant-select-selection-search-input {
						margin-left: 3px;
					}
				}
			}
		}

		&:hover {
			.ant-select-selector {
				border-color: @secondaryColor;
			}
		}
	}
}

.ant-select-focused.secondary {
	&:not(.ant-select-disabled) {
		&.ant-select-multiple {
			.ant-select-selector {
				border-color: @secondaryColor;
				box-shadow: 0 0 0 2px @secondaryOpacityColor;
			}
		}

		&.ant-select-single {
			&:not(.ant-select-customize-input) {
				.ant-select-selector {
					border-color: @secondaryColor;
					box-shadow: 0 0 0 2px @secondaryOpacityColor;
				}
			}
		}
	}
}

.ant-select-dropdown.secondary {

	.ant-select-item-option-selected {
		&:not(.ant-select-item-option-disabled) {
			color: @secondaryColor;
			background-color: @secondaryOpacityColor;
		}

		&:not(.ant-select-item-option-disabled) {
			.ant-select-item-option-state {
				color: @secondaryColor;
			}
		}
	}
}

// Cascader
// ---
// @cascader-bg: @component-background;
// @cascader-item-selected-bg: @primary-1;
// @cascader-menu-bg: @component-background;
// @cascader-menu-border-color-split: @border-color-split;

// Cascader
// ----
// @cascader-dropdown-vertical-padding: @dropdown-vertical-padding;
// @cascader-dropdown-edge-child-vertical-padding: @dropdown-edge-child-vertical-padding;
// @cascader-dropdown-font-size: @dropdown-font-size;
// @cascader-dropdown-line-height: @dropdown-line-height;

// Anchor
// ---
// @anchor-bg: @component-background;
// @anchor-border-color: @border-color-split;
// @anchor-link-top: 7px;
// @anchor-link-left: 16px;
// @anchor-link-padding: @anchor-link-top 0 @anchor-link-top @anchor-link-left;

// Tooltip
// ---
// // Tooltip max width
// @tooltip-max-width: 250px;
// // Tooltip text color
// @tooltip-color: #fff;
// // Tooltip background color
// @tooltip-bg: rgba(0, 0, 0, 0.75);
// // Tooltip arrow width
// @tooltip-arrow-width: 5px;
// // Tooltip distance with trigger
// @tooltip-distance: @tooltip-arrow-width - 1px + 4px;
// // Tooltip arrow color
// @tooltip-arrow-color: @tooltip-bg;

// Popover
// ---
// // Popover body background color
// @popover-bg: @component-background;
// // Popover text color
// @popover-color: @text-color;
// // Popover maximum width
// @popover-min-width: 177px;
// @popover-min-height: 32px;
// // Popover arrow width
// @popover-arrow-width: 6px;
// // Popover arrow color
// @popover-arrow-color: @popover-bg;
// // Popover outer arrow width
// // Popover outer arrow color
// @popover-arrow-outer-color: @popover-bg;
// // Popover distance with trigger
// @popover-distance: @popover-arrow-width + 4px;
// @popover-padding-horizontal: @padding-md;

// Modal
// --
// @modal-header-padding-vertical: @padding-md;
// @modal-header-padding-horizontal: @padding-lg;
// @modal-body-padding: @padding-lg;
// @modal-header-bg: @component-background;
// @modal-header-padding: @modal-header-padding-vertical @modal-header-padding-horizontal;
// @modal-header-border-width: @border-width-base;
// @modal-header-border-style: @border-style-base;
// @modal-header-title-line-height: 22px;
// @modal-header-title-font-size: @font-size-lg;
// @modal-header-border-color-split: @border-color-split;
// @modal-header-close-size: 56px;
// @modal-content-bg: @component-background;
// @modal-heading-color: @heading-color;
// @modal-close-color: @text-color-secondary;
// @modal-footer-bg: transparent;
// @modal-footer-border-color-split: @border-color-split;
// @modal-footer-border-style: @border-style-base;
// @modal-footer-padding-vertical: 10px;
// @modal-footer-padding-horizontal: 16px;
// @modal-footer-border-width: @border-width-base;
// @modal-mask-bg: fade(@black, 45%);
// @modal-confirm-body-padding: 32px 32px 24px;

// Progress
// --
// @progress-default-color: @processing-color;
// @progress-remaining-color: @background-color-base;
// @progress-text-color: @text-color;
// @progress-radius: 100px;
// @progress-steps-item-bg: #f3f3f3;
// @progress-text-font-size: 1em;
// @progress-circle-text-font-size: 1em;

// Menu
// ---
// @menu-inline-toplevel-item-height: 40px;
// @menu-item-height: 40px;
// @menu-item-group-height: @line-height-base;
// @menu-collapsed-width: 80px;
// @menu-bg: @component-background;
// @menu-popup-bg: @component-background;
// @menu-item-color: @text-color;
// @menu-highlight-color: @primary-color;
// @menu-highlight-danger-color: @error-color;
// @menu-item-active-bg: @primary-1;
// @menu-item-active-danger-bg: @red-1;
// @menu-item-active-border-width: 3px;
// @menu-item-group-title-color: @text-color-secondary;
// @menu-item-vertical-margin: 4px;
// @menu-item-font-size: @font-size-base;
// @menu-item-boundary-margin: 8px;
// @menu-item-padding: 0 20px;
// @menu-horizontal-line-height: 46px;
// @menu-icon-margin-right: 10px;
// @menu-icon-size: @menu-item-font-size;
// @menu-icon-size-lg: @font-size-lg;
// @menu-item-group-title-font-size: @menu-item-font-size;

// // dark theme
// @menu-dark-color: @text-color-secondary-dark;
// @menu-dark-danger-color: @error-color;
@menu-dark-bg: @backgroundMenuColor;
// @menu-dark-arrow-color: #fff;
// @menu-dark-submenu-bg: #000c17;
// @menu-dark-highlight-color: #fff;
// @menu-dark-item-active-bg: @primary-color;
// @menu-dark-item-active-danger-bg: @error-color;
// @menu-dark-selected-item-icon-color: @white;
// @menu-dark-selected-item-text-color: @white;
// @menu-dark-item-hover-bg: transparent;
// // Spin
// // ---
// @spin-dot-size-sm: 14px;
// @spin-dot-size: 20px;
// @spin-dot-size-lg: 32px;

// // Table
// // --
// @table-bg: @component-background;
// @table-header-bg: @background-color-light;
// @table-header-color: @heading-color;
// @table-header-sort-bg: @background-color-base;
// @table-body-sort-bg: #fafafa;
// @table-row-hover-bg: @background-color-light;
// @table-selected-row-color: inherit;
// @table-selected-row-bg: @primary-1;
// @table-body-selected-sort-bg: @table-selected-row-bg;
// @table-selected-row-hover-bg: darken(@table-selected-row-bg, 2%);
// @table-expanded-row-bg: #fbfbfb;
// @table-padding-vertical: 16px;
// @table-padding-horizontal: 16px;
// @table-padding-vertical-md: @table-padding-vertical * 3 / 4;
// @table-padding-horizontal-md: @table-padding-horizontal / 2;
// @table-padding-vertical-sm: @table-padding-vertical / 2;
// @table-padding-horizontal-sm: @table-padding-horizontal / 2;
// @table-border-radius-base: @border-radius-base;
// @table-footer-bg: @background-color-light;
// @table-footer-color: @heading-color;
// @table-header-bg-sm: @table-header-bg;
// @table-font-size: @font-size-base;
// @table-font-size-md: @table-font-size;
// @table-font-size-sm: @table-font-size;
// // Sorter
// // Legacy: `table-header-sort-active-bg` is used for hover not real active
// @table-header-sort-active-bg: darken(@table-header-bg, 3%);
// // Filter
// @table-header-filter-active-bg: darken(@table-header-sort-active-bg, 5%);
// @table-filter-btns-bg: inherit;
// @table-filter-dropdown-bg: @component-background;
// @table-expand-icon-bg: @component-background;
// @table-selection-column-width: 60px;
// @table-selection-extra-right: 0;

// // Tag
// // --
@tag-default-bg: @backgroundColor;
@tag-default-color: @text-color;
@tag-font-size: @font-size-sm;
@tag-line-height: 24px;

// // TimePicker
// // ---
// @picker-bg: @component-background;
// @picker-basic-cell-hover-color: @item-hover-bg;
// @picker-basic-cell-active-with-range-color: @primary-1;
// @picker-basic-cell-hover-with-range-color: lighten(@primary-color, 35%);
// @picker-basic-cell-disabled-bg: @disabled-bg;
// @picker-border-color: @border-color-split;
// @picker-date-hover-range-border-color: lighten(@primary-color, 20%);
// @picker-date-hover-range-color: @picker-basic-cell-hover-with-range-color;
// @picker-time-panel-cell-height: 28px;
// @picker-panel-cell-height: 24px;
// @picker-panel-cell-width: 36px;
// @picker-text-height: 40px;
// @picker-panel-without-time-cell-height: 66px;

.ant-picker.secondary {
	&:hover {
		border-color: @secondaryColor;
	}
}

.ant-picker-focused.secondary {
	border-color: @secondaryColor;
	box-shadow: 0 0 0 2px @secondaryOpacityColor;

	.ant-picker-active-bar {
		background: @secondaryColor;
	}
}

.ant-picker-dropdown.secondary {
	.ant-picker-header-view {
		button {
			&:hover {
				color: @secondaryColor;
			}
		}
	}

	.ant-picker-cell-in-view {
		&.ant-picker-cell-today .ant-picker-cell-inner {
			&::before {
				border: 1px solid @secondaryColor;
			}
		}

		&.ant-picker-cell-in-range {

			&.ant-picker-cell-range-hover-end,
			&.ant-picker-cell-range-hover-start {
				.ant-picker-cell-inner {
					&::after {
						background: @backgroundColorAternative;
						left: 0;
						border-radius: 8px;
						right: 0;
					}
				}
			}

			color: @secondaryColor;

			&::before {
				background: @secondaryOpacityColor;
			}
		}

		&.ant-picker-cell-selected .ant-picker-cell-inner,
		&.ant-picker-cell-range-start .ant-picker-cell-inner,
		&.ant-picker-cell-range-end .ant-picker-cell-inner {
			color: @secondaryHoverColor;
			background: @secondaryColor;
		}

		&.ant-picker-cell-range-hover {
			&:last-child::after {
				border-right: 1px dashed @secondaryColor;
			}

			&:first-child::after {
				border-left: 1px dashed @secondaryColor;
			}

			&:not(.ant-picker-cell-in-range) {
				&::after {
					border-top: 1px dashed @secondaryColor;
					border-bottom: 1px dashed @secondaryColor;
				}
			}
		}

		&.ant-picker-cell-range-start {
			&:not(.ant-picker-cell-range-start-single) {
				&::before {
					background: @secondaryOpacityColor;
				}
			}
		}

		&.ant-picker-cell-range-end {
			&.ant-picker-cell-range-hover {


				&::before {
					background: @secondaryOpacityColor;
				}
			}

			&:not(.ant-picker-cell-range-end-single) {
				&::before {
					background: @secondaryOpacityColor;
				}

			}
		}

		&.ant-picker-cell-range-hover-start {
			&.ant-picker-cell-range-start-single {
				&::after {
					border-top: 1px dashed @secondaryColor;
					border-bottom: 1px dashed @secondaryColor;
				}
			}
		}

		&.ant-picker-cell-range-hover-end {
			&:first-child {
				&::after {
					border-left: 1px dashed @secondaryColor;
				}
			}

			&::after {
				border-right: 1px dashed @secondaryColor;
			}

			&:not(.ant-picker-cell-in-range) {
				&:not(.ant-picker-cell-range-start) {
					&:not(.ant-picker-cell-range-end) {
						&::after {
							border-top: 1px dashed @secondaryColor;
							border-bottom: 1px dashed @secondaryColor;
						}
					}
				}
			}
		}

		&.ant-picker-cell-range-hover-edge-start {
			&:not(.ant-picker-cell-range-hover-edge-start-near-range) {
				&::after {
					border-left: 1px dashed @secondaryColor;
				}
			}
		}

		&.ant-picker-cell-range-hover-edge-end {
			&:not(.ant-picker-cell-range-hover-edge-end-near-range) {
				&::after {
					border-right: 1px dashed @secondaryColor;
				}
			}
		}
	}
}

// // Calendar
// @calendar-bg: @component-background;
// @calendar-input-bg: @input-bg;
// @calendar-border-color: @border-color-inverse;
// @calendar-item-active-bg: @item-active-bg;
// @calendar-full-bg: @calendar-bg;
// @calendar-full-panel-bg: @calendar-full-bg;

// // Carousel
// // ---
@carousel-dot-width: @smSpacing*1px;
@carousel-dot-height: @smSpacing*1px;
@carousel-dot-active-width: (@mdSpacing - 2)*1px;

.ant-carousel {
	.slick-dots {
		li {
			button {
				border-radius: @smSpacing*1px;
			}

			&.slick-active {
				margin-top: -1px;

				button {
					height: (@mdSpacing - 2)*1px;
				}
			}
		}
	}
}

// // Badge
// // ---
// @badge-height: 20px;
// @badge-dot-size: 6px;
// @badge-font-size: @font-size-sm;
// @badge-font-weight: normal;
// @badge-status-size: 6px;
// @badge-text-color: @component-background;

// // Rate
// // ---
// @rate-star-color: @yellow-6;
// @rate-star-bg: @border-color-split;
// @rate-star-size: 20px;
// @rate-star-hover-scale: scale(1.1);

// // Card
// // ---
// @card-head-color: @heading-color;
// @card-head-background: transparent;
// @card-head-font-size: @font-size-lg;
// @card-head-font-size-sm: @font-size-base;
// @card-head-padding: 16px;
// @card-head-padding-sm: @card-head-padding / 2;
// @card-head-height: 48px;
// @card-head-height-sm: 36px;
// @card-inner-head-padding: 12px;
// @card-padding-base: 24px;
// @card-padding-base-sm: @card-padding-base / 2;
// @card-actions-background: @background-color-light;
// @card-actions-li-margin: 12px 0;
// @card-skeleton-bg: #cfd8dc;
// @card-background: @component-background;
// @card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
//   0 5px 12px 4px rgba(0, 0, 0, 0.09);
// @card-radius: @border-radius-base;
// @card-head-tabs-margin-bottom: -17px;
// @card-head-extra-color: @text-color;

// // Comment
// // ---
// @comment-bg: inherit;
// @comment-padding-base: @padding-md 0;
// @comment-nest-indent: 44px;
// @comment-font-size-base: @font-size-base;
// @comment-font-size-sm: @font-size-sm;
// @comment-author-name-color: @text-color-secondary;
// @comment-author-time-color: #ccc;
// @comment-action-color: @text-color-secondary;
// @comment-action-hover-color: #595959;
// @comment-actions-margin-bottom: inherit;
// @comment-actions-margin-top: @margin-sm;
// @comment-content-detail-p-margin-bottom: inherit;

// // Tabs
// // ---
// @tabs-card-head-background: @background-color-light;
// @tabs-card-height: 40px;
@tabs-card-active-color: @secondaryColor;
// @tabs-card-horizontal-padding: (@tabs-card-height - floor(@font-size-base * @line-height-base)) / 2 -
//   @border-width-base @padding-md;
// @tabs-card-horizontal-padding-sm: 6px @padding-md;
// @tabs-card-horizontal-padding-lg: 7px @padding-md 6px;
// @tabs-title-font-size: @font-size-base;
// @tabs-title-font-size-lg: @font-size-lg;
// @tabs-title-font-size-sm: @font-size-base;
// @tabs-ink-bar-color: @primary-color;
@tabs-bar-margin: 0 0 0 0;
// @tabs-horizontal-margin: 0 32px 0 0;
// @tabs-horizontal-margin-rtl: 0 0 0 32px;
@tabs-horizontal-padding: 0 0;
@tabs-horizontal-padding-lg: 0 0;
@tabs-horizontal-padding-sm: 0 0;
// @tabs-vertical-padding: @padding-xs @padding-lg;
// @tabs-vertical-margin: 0 0 @margin-md 0;
// @tabs-scrolling-size: 32px;
@tabs-highlight-color: @secondaryColor;
@tabs-hover-color: @secondaryHoverColor;
@tabs-active-color: @secondaryHoverColor;
@tabs-card-gutter: 0px;
// @tabs-card-tab-active-border-top: 2px solid transparent;

// // BackTop
// // ---
// @back-top-color: #fff;
// @back-top-bg: @text-color-secondary;
// @back-top-hover-bg: @text-color;

// // Avatar
// // ---
// @avatar-size-base: 32px;
@avatar-size-lg: 48px;
// @avatar-size-sm: 24px;
// @avatar-font-size-base: 18px;
// @avatar-font-size-lg: 24px;
// @avatar-font-size-sm: 14px;
// @avatar-bg: #ccc;
// @avatar-color: #fff;
// @avatar-border-radius: @border-radius-base;

// // Switch
// // ---
// @switch-height: 22px;
// @switch-sm-height: 16px;
// @switch-min-width: 44px;
// @switch-sm-min-width: 28px;
// @switch-disabled-opacity: 0.4;
@switch-color: @secondaryColor;
// @switch-bg: @component-background;
// @switch-shadow-color: fade(#00230b, 20%);
// @switch-padding: 2px;
// @switch-inner-margin-min: ceil(@switch-height * 0.3);
// @switch-inner-margin-max: ceil(@switch-height * 1.1);
// @switch-sm-inner-margin-min: ceil(@switch-sm-height * 0.3);
// @switch-sm-inner-margin-max: ceil(@switch-sm-height * 1.1);

// // Pagination
// // ---
// @pagination-item-bg: @component-background;
// @pagination-item-size: @height-base;
// @pagination-item-size-sm: 24px;
// @pagination-font-family: Arial;
// @pagination-font-weight-active: 500;
// @pagination-item-bg-active: @component-background;
// @pagination-item-link-bg: @component-background;
// @pagination-item-disabled-color-active: @white;
// @pagination-item-disabled-bg-active: darken(@disabled-bg, 10%);
// @pagination-item-input-bg: @component-background;
// @pagination-mini-options-size-changer-top: 0px;

// // PageHeader
// // ---
// @page-header-padding: @padding-lg;
// @page-header-padding-vertical: @padding-md;
// @page-header-padding-breadcrumb: @padding-sm;
// @page-header-content-padding-vertical: @padding-sm;
// @page-header-back-color: #000;
// @page-header-ghost-bg: inherit;
// @page-header-heading-title: @heading-4-size;
// @page-header-heading-sub-title: 14px;
// @page-header-tabs-tab-font-size: 16px;

// // Breadcrumb
// // ---
// @breadcrumb-base-color: @text-color-secondary;
// @breadcrumb-last-item-color: @text-color;
// @breadcrumb-font-size: @font-size-base;
// @breadcrumb-icon-font-size: @font-size-base;
// @breadcrumb-link-color: @text-color-secondary;
// @breadcrumb-link-color-hover: @primary-5;
// @breadcrumb-separator-color: @text-color-secondary;
// @breadcrumb-separator-margin: 0 @padding-xs;

// // Slider
// // ---
// @slider-margin: 10px 6px 10px;
// @slider-rail-background-color: @background-color-base;
// @slider-rail-background-color-hover: #e1e1e1;
// @slider-track-background-color: @primary-3;
// @slider-track-background-color-hover: @primary-4;
// @slider-handle-border-width: 2px;
// @slider-handle-background-color: @component-background;
// @slider-handle-color: @primary-3;
// @slider-handle-color-hover: @primary-4;
// @slider-handle-color-focus: tint(@primary-color, 20%);
// @slider-handle-color-focus-shadow: fade(@primary-color, 12%);
// @slider-handle-color-tooltip-open: @primary-color;
// @slider-handle-size: 14px;
// @slider-handle-margin-top: -5px;
// @slider-handle-shadow: 0;
// @slider-dot-border-color: @border-color-split;
// @slider-dot-border-color-active: tint(@primary-color, 50%);
// @slider-disabled-color: @disabled-color;
// @slider-disabled-background-color: @component-background;

// // Tree
// // ---
// @tree-bg: @component-background;
// @tree-title-height: 24px;
// @tree-child-padding: 18px;
// @tree-directory-selected-color: #fff;
// @tree-directory-selected-bg: @primary-color;
// @tree-node-hover-bg: @item-hover-bg;
// @tree-node-selected-bg: @primary-2;

// // Collapse
// // ---
// @collapse-header-padding: @padding-sm @padding-md;
// @collapse-header-padding-extra: 40px;
// @collapse-header-bg: @background-color-light;
// @collapse-content-padding: @padding-md;
// @collapse-content-bg: @component-background;
// @collapse-header-arrow-left: 16px;

// // Skeleton
// // ---
// @skeleton-color: #f2f2f2;
// @skeleton-to-color: shade(@skeleton-color, 5%);
// @skeleton-paragraph-margin-top: 28px;
// @skeleton-paragraph-li-margin-top: @margin-md;
// @skeleton-paragraph-li-height: 16px;
// @skeleton-title-height: 16px;
// @skeleton-title-paragraph-margin-top: @margin-lg;

// // Transfer
// // ---
// @transfer-header-height: 40px;
// @transfer-item-height: @height-base;
// @transfer-disabled-bg: @disabled-bg;
// @transfer-list-height: 200px;
// @transfer-item-hover-bg: @item-hover-bg;
// @transfer-item-padding-vertical: 6px;
// @transfer-list-search-icon-top: 12px;

// // Message
// // ---
// @message-notice-content-padding: 10px 16px;
// @message-notice-content-bg: @component-background;
// // Motion
// // ---
// @wave-animation-width: 6px;

// // Alert
// // ---
// @alert-success-border-color: ~`colorPalette('@{success-color}', 3) `;
// @alert-success-bg-color: ~`colorPalette('@{success-color}', 1) `;
// @alert-success-icon-color: @success-color;
// @alert-info-border-color: ~`colorPalette('@{info-color}', 3) `;
// @alert-info-bg-color: ~`colorPalette('@{info-color}', 1) `;
// @alert-info-icon-color: @info-color;
// @alert-warning-border-color: ~`colorPalette('@{warning-color}', 3) `;
// @alert-warning-bg-color: ~`colorPalette('@{warning-color}', 1) `;
// @alert-warning-icon-color: @warning-color;
// @alert-error-border-color: ~`colorPalette('@{error-color}', 3) `;
// @alert-error-bg-color: ~`colorPalette('@{error-color}', 1) `;
// @alert-error-icon-color: @error-color;
// @alert-message-color: @heading-color;
// @alert-text-color: @text-color;
// @alert-close-color: @text-color-secondary;
// @alert-close-hover-color: @icon-color-hover;
// @alert-no-icon-padding-vertical: @padding-xs;
// @alert-with-description-no-icon-padding-vertical: @padding-md - 1px;
// @alert-with-description-padding-vertical: @padding-md - 1px;
// @alert-with-description-padding: @alert-with-description-padding-vertical 15px
//   @alert-with-description-no-icon-padding-vertical @alert-with-description-icon-size * 2 +
//   @alert-with-description-padding-vertical;
// @alert-icon-top: 8px + @font-size-base * @line-height-base / 2 - @font-size-base / 2;
// @alert-with-description-icon-size: 24px;
// @alert-with-description-icon-top: @alert-with-description-padding-vertical;

// // List
// // ---
// @list-header-background: transparent;
// @list-footer-background: transparent;
// @list-empty-text-padding: @padding-md;
// @list-item-padding: @padding-sm 0;
// @list-item-padding-sm: @padding-xs @padding-md;
// @list-item-padding-lg: 16px 24px;
// @list-item-meta-margin-bottom: @padding-md;
// @list-item-meta-avatar-margin-right: @padding-md;
// @list-item-meta-title-margin-bottom: @padding-sm;
// @list-customize-card-bg: @component-background;
// @list-item-meta-description-font-size: @font-size-base;

// // Statistic
// // ---
// @statistic-title-font-size: @font-size-base;
// @statistic-content-font-size: 24px;
// @statistic-unit-font-size: 16px;
// @statistic-font-family: @font-family;

// // Drawer
// // ---
// @drawer-header-padding: @padding-md @padding-lg;
// @drawer-body-padding: @padding-lg;
// @drawer-bg: @component-background;
// @drawer-footer-padding-vertical: @modal-footer-padding-vertical;
// @drawer-footer-padding-horizontal: @modal-footer-padding-horizontal;
// @drawer-header-close-size: 56px;

// // Timeline
// // ---
// @timeline-width: 2px;
// @timeline-color: @border-color-split;
// @timeline-dot-border-width: 2px;
// @timeline-dot-color: @primary-color;
// @timeline-dot-bg: @component-background;
// @timeline-item-padding-bottom: 20px;

// // Typography
// // ---
// @typography-title-font-weight: 600;
// @typography-title-margin-top: 1.2em;
// @typography-title-margin-bottom: 0.5em;

// // Upload
// // ---
// @upload-actions-color: @text-color-secondary;

// // Steps
// // ---
// @process-tail-color: @border-color-split;
// @steps-nav-arrow-color: fade(@black, 25%);
// @steps-background: @component-background;
// @steps-icon-size: 32px;
// @steps-icon-custom-size: @steps-icon-size;
// @steps-icon-custom-top: 0px;
// @steps-icon-custom-font-size: 24px;
// @steps-icon-top: -1px;
// @steps-icon-font-size: @font-size-lg;
// @steps-icon-margin: 0 8px 0 0;
// @steps-title-line-height: @height-base;
// @steps-small-icon-size: 24px;
// @steps-small-icon-margin: 0 8px 0 0;
// @steps-dot-size: 8px;
// @steps-dot-top: 2px;
// @steps-current-dot-size: 10px;
// @steps-desciption-max-width: 140px;
// @steps-nav-content-max-width: auto;
// @steps-vertical-icon-width: 16px;
// @steps-vertical-tail-width: 16px;
// @steps-vertical-tail-width-sm: 12px;

// // Notification
// // ---
// @notification-bg: @component-background;
// @notification-padding-vertical: 16px;
// @notification-padding-horizontal: 24px;

// //  Result
// // ---
// @result-title-font-size: 24px;
// @result-subtitle-font-size: @font-size-base;
// @result-icon-font-size: 72px;
// @result-extra-margin: 24px 0 0 0;

// // Image
// // ---
// @image-size-base: 48px;
// @image-font-size-base: 24px;
// @image-bg: #ccc;
// @image-color: #fff;

// Custom 

#__next iframe {
	display: none !important;
}
