body {
	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	overflow-x: hidden;
}
.clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

.container {
	width: calc(100% - 32px);
	max-width: 992px;
	margin: 0 auto;
	&.big {
		max-width: 1200px;
	}
}
